@model List<string>

@{
    ViewBag.Title = "Group Chat";
}

<h2>Group Chat</h2>

<ul>
    @foreach (var group in Model)
    {
        <li>
            @group <button onclick="JoinGroup('@group');">Join</button>
        </li>
    }
</ul>
@section scripts{
    <script type="text/javascript">
        var userName = "";
        $(function () {
            userName = prompt("Enter Your Name");
        })

        function JoinGroup(groupName) {
            if (userName == null || userName == "") {
                userName = prompt("Enter Your Name:");
            }

            if (userName != null && userName != "")
                window.location.href = "/Chat/GroupChat?groupName=" + groupName + "&userName=" + userName;
        }
    </script>

}
